sources/examples/chatbot/flowEmail.json
[{"id":"ff60a817.7e9ef8","type":"sofia4cities-query-dinamic","z":"55275bd9.003714","name":"","authentication":"ZGV2ZWxvcGVyOlQ4ZE1mWXBHNXFQVDRMckUxK25VZVB5aUc5dFM0YS9UNWppa3lURlF4ekE9","x":165,"y":170,"wires":[["80b8f190.772f","d376c17c.8aca5"]]},{"id":"c2d3d9e9.240b88","type":"function","z":"55275bd9.003714","name":"GetData","func":"var data = JSON.parse(msg.payload.notificationModel.operationModel.body);\nvar msg = {};\nmsg.data = data;\nmsg.station = data.GeoAirQuality.stationName;\nmsg.ontology = \"GeoAirQualitySubscriptions\";\nmsg.targetDB = \"BDTR\";\nmsg.queryType = \"SQL\";\nmsg.query = \"select distinct(A.Subscription.email) as email from GeoAirQualitySubscriptions as A where A.Subscription.stationName = \\\"\"+ msg.station +\"\\\" group by A.Subscription.email\"; \nmsg.url = \"/GeoAirQualitySubscriptionMails\";\nreturn msg;","outputs":1,"noerr":0,"x":332,"y":74,"wires":[["8ebe156d.dacd58","ff60a817.7e9ef8"]]},{"id":"80b8f190.772f","type":"debug","z":"55275bd9.003714","name":"","active":false,"console":"false","complete":"true","x":409,"y":179,"wires":[]},{"id":"d376c17c.8aca5","type":"function","z":"55275bd9.003714","name":"ForEachMail","func":"msg.payload = JSON.parse(msg.payload);\nmsg.payload.forEach(function(element) {\n    element.dataOri = msg.data;\n    element.station = msg.station;\n    node.send({\"payload\": element});\n});\n","outputs":1,"noerr":0,"x":187,"y":248,"wires":[["8e2e6cb8.d9d74","c5ad23e7.bd81"]]},{"id":"283af2e4.91920e","type":"sofia4cities-notification-endpoint","z":"55275bd9.003714","name":"newGeoAirQuality","url":"/NewGeoAirQuality","method":"post","ontology":"GeoAirQuality","operationType":"INSERT","x":138,"y":74,"wires":[["c2d3d9e9.240b88"]]},{"id":"8ebe156d.dacd58","type":"debug","z":"55275bd9.003714","name":"","active":false,"console":"false","complete":"data","x":507,"y":74,"wires":[]},{"id":"8e2e6cb8.d9d74","type":"debug","z":"55275bd9.003714","name":"","active":false,"console":"false","complete":"true","x":399,"y":247,"wires":[]},{"id":"c5ad23e7.bd81","type":"function","z":"55275bd9.003714","name":"SelectLastSubscription","func":"var data = msg.payload;\nvar msg = {};\nmsg.ontology = \"GeoAirQualitySubscriptions\";\nmsg.targetDB = \"BDTR\";\nmsg.queryType = \"SQL\";\nmsg.query = \"select * from GeoAirQualitySubscriptions as A where A.Subscription.stationName = \\\"\" +data.station+ \"\\\" and A.Subscription.email = \\\"\" + data.email + \"\\\" order by A.contextData.timestamp desc limit 1\";\nmsg.url = \"/GeoAirQualitySubscriptionThresholds\";\nmsg.dataOri = data.dataOri;\nreturn msg;","outputs":1,"noerr":0,"x":199,"y":325,"wires":[["3db3b0ef.5fb88","6556db91.4400d4"]]},{"id":"3db3b0ef.5fb88","type":"debug","z":"55275bd9.003714","name":"","active":false,"console":"false","complete":"true","x":399,"y":289,"wires":[]},{"id":"6556db91.4400d4","type":"sofia4cities-query-dinamic","z":"55275bd9.003714","name":"","authentication":"ZGV2ZWxvcGVyOlQ4ZE1mWXBHNXFQVDRMckUxK25VZVB5aUc5dFM0YS9UNWppa3lURlF4ekE9","x":445,"y":330,"wires":[["177ccc93.245633","8003d422.3fc7f8"]]},{"id":"177ccc93.245633","type":"debug","z":"55275bd9.003714","name":"","active":false,"console":"false","complete":"true","x":638,"y":332,"wires":[]},{"id":"8003d422.3fc7f8","type":"function","z":"55275bd9.003714","name":"ForEachNotification","func":"msg.payload = JSON.parse(msg.payload);\nmsg.payload.forEach(function(element) {\n    element.dataOri = msg.dataOri;\n    node.send({\"payload\": element});\n});","outputs":1,"noerr":0,"x":206,"y":389,"wires":[["9c57646b.a9db78","5323401b.646ba"]]},{"id":"9c57646b.a9db78","type":"function","z":"55275bd9.003714","name":"PrepareMail","func":"var subs = msg.payload.value.Subscription;\nvar inserted = msg.payload.dataOri.GeoAirQuality;\n\nvar newMsg = {};\nnewMsg.subs = subs;\nnewMsg.inserted = inserted;\nvar threshold = 151;\n\nif (subs.quality === \"satisfying\"){\n    threshold = 0;\n} else if (subs.quality === \"passable\"){\n    threshold = 51;\n} else if (subs.quality === \"bad\") {\n    threshold = 101;\n} else if (subs.quality === \"very bad\"){\n    threshold = 151;\n} \n\nif (inserted.aqi >= threshold){\n    newMsg.to = subs.email;\n    newMsg.topic = \"Air quality alert\";\n    newMsg.payload=\"Air quality alert: \" + JSON.stringify(inserted);\n    return newMsg;\n}\n\nreturn newMsg;\n","outputs":1,"noerr":0,"x":182,"y":450,"wires":[["b2ef8eaf.930ae","4bad9661.737c08"]]},{"id":"5323401b.646ba","type":"debug","z":"55275bd9.003714","name":"","active":false,"console":"false","complete":"true","x":433,"y":392,"wires":[]},{"id":"b2ef8eaf.930ae","type":"debug","z":"55275bd9.003714","name":"","active":true,"console":"false","complete":"true","x":427,"y":437,"wires":[]},{"id":"4bad9661.737c08","type":"e-mail","z":"55275bd9.003714","server":"smtp.gmail.com","port":"465","secure":true,"name":"","dname":"","x":445,"y":514,"wires":[]}]