sources/examples/chatbot/flowLoad.json
[{"id":"86a119f.760cde8","type":"function","z":"aebfc549.107088","name":"station data Parser","func":"msg.url = \"https://api.waqi.info/feed/@\"+msg.payload.uid+\"/?token=66f5c0a379b45e0925e2e4104a1fa5cbcf197bad\"\nreturn msg;","outputs":1,"noerr":0,"x":222,"y":162,"wires":[["66dc9893.73cf18"]]},{"id":"6691fa8e.c189b4","type":"function","z":"aebfc549.107088","name":"Split to stations","func":"msg.payload.data.forEach(function(element) {\n    node.send({\"payload\": element});\n});","outputs":1,"noerr":0,"x":605,"y":52,"wires":[["86a119f.760cde8"]]},{"id":"66dc9893.73cf18","type":"http request","z":"aebfc549.107088","name":"Get Station Data","method":"GET","ret":"obj","url":"","tls":"","x":419,"y":162,"wires":[["73c5ce69.6d0ba","b4ce62ab.beaf9"]]},{"id":"f0744ef2.0f10e","type":"http request","z":"aebfc549.107088","name":"","method":"GET","ret":"obj","url":"https://api.waqi.info/search/?token=66f5c0a379b45e0925e2e4104a1fa5cbcf197bad&keyword=Helsinki","tls":"","x":423,"y":52,"wires":[["6691fa8e.c189b4"]]},{"id":"73c5ce69.6d0ba","type":"function","z":"aebfc549.107088","name":"Station Data parser","func":"var newMsg = msg;\nvar ts = new Date( msg.payload.data.time.s+msg.payload.data.time.tz);\nvar rawCity = msg.payload.data.city.name.split(',');\nvar stationName = rawCity[0];\nvar cityName = stationName;\n\nif (rawCity.length >1) cityName =rawCity[1];\n\n\n\nnewMsg.payload = {'GeoAirQuality':{\n    'stationName' : stationName,\n    'stationId': msg.payload.data.idx.toString(),\n    'aqi' : msg.payload.data.aqi,\n    'timestamp' : {'$date': new Date().toISOString()},\n    'city': cityName,\n    'pm25' : msg.payload.data.iaqi.pm25.v,\n    'pm10' : msg.payload.data.iaqi.pm10.v,\n    'o3' : msg.payload.data.iaqi.o3.v,\n    'no2' : msg.payload.data.iaqi.no2.v,\n    'so2' : msg.payload.data.iaqi.so2.v,\n    'geometry' : {\n        'type':'Point', \n        'coordinates':[Number(msg.payload.data.city.geo[0]),Number(msg.payload.data.city.geo[1])]\n    }\n}}\nreturn newMsg;","outputs":1,"noerr":0,"x":225,"y":259,"wires":[["26add0d9.c169d","21dca70.d55235a"]]},{"id":"b4ce62ab.beaf9","type":"debug","z":"aebfc549.107088","name":"Station RAW","active":false,"console":"false","complete":"payload","x":575,"y":206,"wires":[]},{"id":"7e4e9158.d76db","type":"inject","z":"aebfc549.107088","name":"Get air quality data for Helsinki stations","topic":"","payload":"","payloadType":"date","repeat":"120","crontab":"","once":false,"x":187,"y":52,"wires":[["f0744ef2.0f10e"]]},{"id":"26add0d9.c169d","type":"debug","z":"aebfc549.107088","name":"Station List Output","active":false,"console":"false","complete":"payload","x":561,"y":260,"wires":[]},{"id":"21dca70.d55235a","type":"sofia4cities-insert","z":"aebfc549.107088","name":"Sofia4Cities Insert","ontology":"GeoAirQuality","authentication":"ZGV2ZWxvcGVyOlQ4ZE1mWXBHNXFQVDRMckUxK25VZVB5aUc5dFM0YS9UNWppa3lURlF4ekE9","x":419,"y":328,"wires":[["91a84805.8e8848"]]},{"id":"91a84805.8e8848","type":"debug","z":"aebfc549.107088","name":"Insert List Output","active":true,"console":"false","complete":"payload","x":553,"y":396,"wires":[]}]